<%- include('partials/header.ejs') %>
  <body style="background-color: #dadada;">
    
   <div class="principal">

    <div class="container">
        <br>
        <div class="title text-center">
            <h1>3D Tecnology</h1>
        </div>
        <br>
        <div class="form">
        <div class='form-config'>
            <form action="/cadastro-user" method="post">
                <label for="">Digite seu e-mail</label>
                <div><input type="email" class="btn btn-light" name="email" id="" placeholder="Digite seu e-mail"></div>
                <label for="">Digite sua senha</label>
                <div><input type="password" class="btn btn-light" name="senha" id="" placeholder="Digite sua senha"></div>
                <label for="">Confirme sua senha</label>
                <div><input type="password" class="btn btn-light" name="senha_2" id="" placeholder="Digite sua senha"></div>
                <br>
                <div><input type="submit" class="btn btn-success" name="" id="" value="Criar conta!"></div>
            </form>
        </div>
    </div>
    </div>
  </div>
  </body>
 
  <%- include('partials/footer.ejs') %>

</html>