<%- include('partials/header.ejs') %>
  <body>
    
    <%- include('partials/navbar.ejs') %>

    <div class="container">
      <h1>Página Principal</h1>
    </div>
  </body>
  <h5>Give me your money!</h5>
 
  <%- include('partials/footer.ejs') %>

</html>
