.configD {
  height: auto;
  background-color: rgb(233, 233, 233);
  height: auto;
};


 p {
  font-size: medium;
  text-align: center;
  vertical-align: top;
  margin-top: 190px;
  margin-bottom: 190px;
  margin-left: 250px;
  margin-right: 250px;
};


