<%- include('../partials/header.ejs') %>
  <body>

    <div class="principal configD">
    
    <%- include('../partials/navbar.ejs') %>
    
   
      <br>
      
      <div class="container">

        <a class="link" href="https://wa.me/554192024096"> 41 9202-4096 </a>
        
        </div>

       
 <%- include('../partials/footer-1.ejs')%>


</body>

<%- include('../partials/footer.ejs') %>

</html>