<%- include('../partials/header.ejs') %>
  <body>

    <div class="principal configD">
    
    <%- include('../partials/navbar.ejs') %>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/WhatsApp Image 2025-02-11 at 20.17.38.jpeg" class="d-block w-100" alt="..." style="height: 450px;">
        </div>
        
      </div>
    </div>
<br>
    <div class="container" style="padding-bottom: 80px; padding-top: 60px;">
<h4>
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
</h4>
<p><a href="/quemSomos" style="padding-top: 40px;">Nos conheça melhor</a></p>
    </div>
    <br>

    <h1 style="font-weight: bolder; padding-bottom: 80px;  color: rgb(0, 65, 11);">Conheça um pouco sobre os nossos serviços</h1>

    <br>
    <div><h2>Automação industrial</h2></div>
      <div class="container">
      <p>
        A Automação industrial é o processo de utilizar tecnologias avançadas, 
        sistemas de controle e equipamentos para operar máquinas e processos de maneira eficiente 
        e com o mínimo de intervenção humana. A 3D Tecnology é especializada em integrar essas soluções 
        no ambiente industrial, oferecendo sistemas que aumentam a produtividade, 
        reduzem custos e garantem a precisão nas operações.
      </p>
      <a type="button" class="btn btn-outline-danger" href="/automacao" role="button">Saber mais</a>
    </div>
  </br>

  <br>
  <div><h2>Sistemas supervisórios</h2></div>
    <div class="container">
    <p>
      Sistemas supervisórios são plataformas que permitem o monitoramento e controle em tempo real de processos industriais 
      complexos, integrando diversos dispositivos, máquinas e sistemas em uma única interface centralizada. 
      Esses sistemas fornecem aos operadores uma visão completa e detalhada das operações, 
      possibilitando a tomada de decisões rápidas e precisas para otimizar a produção e garantir a eficiência dos processos.
    </p>
    <a type="button" class="btn btn-outline-danger" href="/supervisorio" role="button">Saber mais</a>
  </div>
</br>

<br>
<div><h2>Retrofit</h2></div>
  <div class="container">
  <p>
    Retrofit é o processo de dar uma nova vida a sistemas e equipamentos existentes, 
    modernizando-os com as tecnologias mais avançadas, sem precisar trocar tudo. Ao invés de investir em novos ativos, 
    o retrofit melhora a performance, a eficiência e a segurança de máquinas já instaladas, 
    prolongando sua vida útil e otimizando os custos operacionais.
  </p>
  <a type="button" class="btn btn-outline-danger" href="/retrofit" role="button">Saber mais</a>
</div>
</br>

<br>
<div><h2>Otimização de processos</h2></div>
  <div class="container">
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
  <a type="button" class="btn btn-outline-danger" href="/otimizacao" role="button">Saber mais</a>
</div>
</br>
 <%- include('../partials/footer-1.ejs')%>

</div>
</body>

<%- include('../partials/footer.ejs') %>

</html>