<%- include('../partials/header.ejs') %>
  <body>

    <div class="principal configD">
    
    <%- include('../partials/navbar.ejs') %>
    
   
      <br>
      
      <div class="container">

        <div class="categoria"><h1>Retrofit</h1></div>
        <br>

        <p>
          Retrofit é o processo de dar uma nova vida a sistemas e equipamentos existentes, 
          modernizando-os com as tecnologias mais avançadas, sem precisar trocar tudo. 
          Ao invés de investir em novos ativos, o retrofit melhora a performance, 
          a eficiência e a segurança de máquinas já instaladas, prolongando sua vida útil 
          e otimizando os custos operacionais.
        </p>
        <p>
          Na 3D Tecnology, acreditamos que a modernização é a chave para empresas que querem se manter competitivas 
          no mercado. Por isso, oferecemos soluções personalizadas de retrofit, 
          trazendo o que há de mais moderno em automação, controle e monitoramento. Com a nossa ajuda, 
          sua empresa pode otimizar seus processos, reduzir custos e aumentar a eficiência, 
          tudo sem precisar realizar grandes investimentos em novos equipamentos. Garantindo aumento de performance, 
          diminuição de mão de obra e integração total com as tecnologias mais atuais do mercado.
        </p>
        <p>
          A 3D Tecnology é sua parceira para transformar o que você já tem em algo ainda mais eficiente 
          e alinhado com as novas demandas do mercado. Inovar sem perder o que já funciona!
        </p>

        <div class="row row-cols-2 row-cols-md-2 g-2">
          <div class="col">
            <div class="card">
              <img src="/img/Foto menor.png" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/img/Foto menor.png" class="card-img-top" alt="...">
              
            </div>
          </div>
          </div>
          <div class="row row-cols-2 row-cols-md-2 g-2">
          <div class="col">
            <div class="card">
              <img src="/img/Foto menor.png" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/img/Foto menor.png" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
      </div>

 <%- include('../partials/footer-1.ejs')%>


</body>

<%- include('../partials/footer.ejs') %>

</html>