<%- include('../partials/header.ejs') %>
  <body>

    <div class="principal configD">
    
    <%- include('../partials/navbar.ejs') %>
    
   
      <br>
      
      <div class="container">

        <div class="categoria"><h1>Sistemas supervisórios</h1></div>
        <br>

        <p>
          Sistemas supervisórios são plataformas que permitem o monitoramento e controle em tempo real de processos 
          industriais complexos, integrando diversos dispositivos, máquinas e sistemas em uma única interface centralizada. 
          Esses sistemas fornecem aos operadores uma visão completa e detalhada das operações, 
          possibilitando a tomada de decisões rápidas e precisas para otimizar a produção 
          e garantir a eficiência dos processos.
        </p>
        <p>
          A 3D Tecnology oferece soluções avançadas de sistemas supervisórios, 
          proporcionando ferramentas intuitivas e poderosas que permitem o monitoramento contínuo de equipamentos, 
          a coleta de dados em tempo real e o controle remoto de processos industriais. Com essas soluções, 
          as empresas conseguem detectar falhas rapidamente, ajustar parâmetros de operação e melhorar a eficiência global 
          de seus sistemas, garantindo a performance máxima de seus equipamentos e processos, 
          e fornecendo tanto visualmente como em dados estatístico e dashboards a visão geral 
          e especifica de todo seu processo, com relatórios, gráficos status alarmes e serviços agendados. 
          Levando sua empresa a manutenção preditiva e consequentemente a status de INDUSTRIA 4.0.
        </p>
        <p>
          Esses sistemas são essenciais para indústrias que buscam maior controle, 
          segurança e performance, permitindo que as operações sejam gerenciadas de forma centralizada, 
          mesmo em ambientes de grande complexidade.
        </p>

        <div class="row row-cols-2 row-cols-md-2 g-2">
          <div class="col">
            <div class="card">
              <img src="/img/Foto menor.png" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/img/Foto menor.png" class="card-img-top" alt="...">
              
            </div>
          </div>
          </div>
          <div class="row row-cols-2 row-cols-md-2 g-2">
          <div class="col">
            <div class="card">
              <img src="/img/Foto menor.png" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/img/Foto menor.png" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
      </div>

 <%- include('../partials/footer-1.ejs')%>


</body>

<%- include('../partials/footer.ejs') %>

</html>